body,
p,
ul {
  margin: 0;
}

a {
  color: #3178bf;
  text-decoration: none;
}

.pr-half {
  padding-right: 0.5em;
}

.pl-0 {
  padding-left: 0;
}

.big-text {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.8em;
  text-align: center;
}

.body {
  background-color: #eceef1;
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100vh;
  row-gap: 1em;
}

.top-header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  padding-right: 2em;
}

.signin-info {
  font-size: 14px;
  font-weight: 100;
}

.brands {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.brands .navbar {
  align-self: center;
}

.form-desc {
  font-size: 0.85em;
  line-height: 1.2;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 1em;
  width: 380px;
}

.inp-field {
  border: 1px solid #eceef1;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  margin: 0.5em 0;
  padding: 0.3em;
  width: 100%;
}

.password {
  grid-column: 1/3;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.key-icon {
  color: rgb(186, 189, 193);
  position: absolute;
  right: 0.5em;
  top: 1.2em;
}

.inp-label {
  color: #404040;
  font-size: 14px;
  line-height: 1em;
}

.btn {
  background-color: #3178bf;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: 0.7em;
  width: 100%;
}

.sign-up {
  background-color: #fff;
  padding: 2em;
}

.inp-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inp-info,
.inp-error {
  font-size: 0.7em;
  padding-top: 0.4em;
}

fieldset {
  border: none;
  font-weight: 300;
  margin: 1em 0;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  border: 2px solid #dee0e3;
}

.card-footer {
  color: #909298;
  font-size: 0.65em;
  padding: 2em 1em;
  text-align: center;
}

.main {
  border: 3px solid #e1e1e1;
}

.form-footer {
  color: #727272;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.5em;
  padding-top: 1.5em;
  text-align: center;
}

.list-icons {
  align-content: center;
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  padding-bottom: 0.8em;
  padding-top: 0.8em;
}

.btn-signin {
  background: #3178bf;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  margin-left: 1em;
  padding: 0.5em 1.3em;
}

.list-item {
  align-self: center;
}

.list-turbotax {
  align-self: auto !important;
}

.mint,
.qb,
.turbotax {
  height: 23px;
  width: 23px;
}

.mint {
  background-image: url(../img/mint.svg);
}

.mint-txt {
  background-image: url(../img/mint_txt.svg);
  height: 14px;
  width: 36px;
}

.qb {
  background-image: url(../img/qb.svg);
}

.qb-txt {
  background-image: url(../img/qb_txt.svg);
  height: 22px;
  width: 99px;
}

.turbotax {
  background-image: url(../img/turbotax.svg);
}

.turbotax-txt {
  background-image: url(../img/turbotax_txt.svg);
  height: 16px;
  width: 74px;
}

.list-icons li {
  display: block;
}

.list-icons a {
  display: block;
}

.inp-error {
  color: #ee5252;
  grid-column: 1/3;
}

.password:invalid ~ .inp-error {
  display: block;
}

input.password:not(:focus) ~ .inp-error {
  display: none;
}

.footer {
  color: #585859;
  font-size: 14px;
  padding-bottom: 1.5em;
  position: sticky;
  text-align: center;
}

.footer ul {
  padding-bottom: 0.3em;
}

.licence {
  padding-bottom: 0.15em;
}

.footer li {
  display: inline;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    min-width: 380px;
    width: 1vw;
  }
}

@media (max-width: 720px) {
  .top-header {
    display: none;
  }

  .signin-info {
    display: none;
  }

  .btn-signin {
    display: none;
  }
}
